.header {
  display: flex;
  text-align: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  position: relative;
  z-index: 1000;
}
.localisation {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
  position: relative;
}

.explo {
  padding: 2rem;
  text-align: center;
  align-items: center;
  background-color: #fafafa;
  margin-bottom: 60px;
}
.explo__btn {
  @include button(primary);
}

.tuto {
  display: flex;
  padding: 2rem;
  text-align: left;
  align-items: center;
  background-color: white;
  margin-bottom: 60px;
}
