// Animation du body : overflow hidden vers initial
@keyframes loaderbody {
  0% {
    overflow: hidden;
    height: 100vh;
  }
  100% {
    overflow: initial;
    height: initial;
  }
}
@-webkit-keyframes loaderbody {
  0% {
    overflow: hidden;
    height: 100vh;
  }
  100% {
    overflow: initial;
    height: initial;
  }
}

body {
  overflow: initial;
  height: initial;
  animation-name: loaderbody;
  animation-duration: 30000ms;
}

// Animation du modal loader : opacity 100% vers 0
@keyframes loader-modal {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spinner-rotation {
  0% {
    transform: rotate(0deg);
    opacity: 0.7;
    color: $color-tertiary;
  }
  55% {
    opacity: 0.6;
    color: $color-secondary;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.6;
    color: $color-primary;
  }
}

.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  animation: loader-modal 3000ms;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation-delay: 1.55s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;

  // Animation de l'icone du loader
  &__itemContainer {
    display: flex;
    font-size: 150px;
    animation: spinner-rotation infinite 4500ms ease-in-out;
  }
}
